*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: $font-primary;
}

.wrapper {
  overflow: hidden;
}

.light {
  color: #000;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 15px;
  overflow: hidden;
}

.dark {
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 100vh;
  padding: 15px;
  overflow: hidden;
}

h3 {
  margin: 0;
}
